{% if site.data.presentations %}
<section class="section presentations-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Selected Presentations</h2>

{% for presentation in site.data.presentations %}
  <div class="item">

    <div class="meta">

      <div class="pres-upper-row">
        <p class="pres-event">{{ presentation.role }}</p>
        <div class="pres-time">{{ presentation.time }}</div>
      </div><!--//upper-row-->

      {% if presentation.title %}
      <div class="pres-title">{{ presentation.title }}</div>
      {% endif %}
      
    </div><!--//meta-->

    <!--{% if presentation.details %}
    <div class="details">
      <p>{{ presentation.details }}</p>
    </div>--><!--//details-->
    {% endif %}

  </div><!--//item-->
{% endfor %}

</section><!--//section-->
{% endif %}
